{% extends "layout.html"%}

{% block title %} Logout {% endblock %}

{% block body%}

<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="card bg-dark text-white" style="border-radius: 1rem;">
      <div class="card-body p-5 text-center">
        <div class="mb-md-5 mt-md-4 pb-5">
          <h2 class="fw-bold mb-5 text-uppercase">You have been logged out.</h2>
          <h3 class="fw-bold text-uppercase">Thank You :)</>
        </div>
      </div>
      <a class="btn btn-outline-light px-5" style="border: none;" href="/login">Go to logging page</a>
    </div>
  </div>
</div>

{% endblock %}